<div class="container">
  <div [hidden]="submitted">
    <h1>Enter Beneficairy Address</h1>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div class="form-group">
        <label for="name">Street Name</label>
        <input matInput type="text" class="form-control" id="name"
               required
               [(ngModel)]="model.street" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="buildingName">Building Name</label>
        <input matInput type="text" class="form-control" id="buildingName"
        required [(ngModel)]="model.buildingName" name="buildingName">
      </div>

      <div class="form-group">
      <label for="postCode">Postcode</label>
      <input type="text" class="form-control" id="postCode"
             [(ngModel)]="model.postCode" name="postCode">
    </div>

    <div class="form-group">
    <label for="town">Town</label>
    <input type="text" class="form-control" id="town"
           [(ngModel)]="model.town" name="town">
  </div>

  <div class="form-group">
  <label for="district">District</label>
  <input type="text" class="form-control" id="district"
         [(ngModel)]="model.district" name="district">
</div>

<div class="form-group">
<label for="country">Country</label>
<input type="text" class="form-control" id="country"
       [(ngModel)]="model.country" name="country">
</div>

<div class="form-group">
<label for="townLoc">Town LOcation</label>
<input type="text" class="form-control" id="townLoc"
       [(ngModel)]="model.townLoc" name="townLoc">
</div>

      

      <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
      

      
     
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9">{{ model.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Alter Ego</div>
      <div class="col-xs-9">{{ model.alterEgo }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Power</div>
      <div class="col-xs-9">{{ model.power }}</div>
    </div>
    <br>
    <button type="button" class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
</div>


  

  


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->